

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Parisienne&family=Tangerine:wght@400;700&display=swap');

*{
box-sizing: border-box;
/*controlar dimensiones sin que se vean afectadas
por el border o por el padding*/
margin:0;
padding: 0;
}
/*clases especiales*/
.borde{
border:1px solid gray;
}
.titulo{
width: 100%;
height: 50px;
padding: 10px;
background-color: rgba(0,0,0);
font-family: 'Dancing Script', cursive;
color:#fff;
text-align: center;
/*aumentar el titulo puede ser h1 pero...*/
font-size: 25px;/*puede ser 2em*/
}
/*contenedor para pantallas grandes*/
.contenedor{
width: 99%;
max-width: 1280px;
margin:auto; /*quede centrado*/
}
/*cuerpo*/
body{
background-image: url('../img/fondo-pagina.jpg');
background-size: 100% 100%;
background-attachment: fixed;/*la imagen se quede fija*/
font-family: 'Chelsea Market', cursive;
}
/*navegador*/
nav{
width: 100%;

height: 50px;
background-color: #DB9F16;
}
/*La suma da 100=65+15+20*/
.logo{
width: 20%;
height: 100%;
float: left;
padding: 5px;/*no se pegue la imagen logo tanto al borde*/
/*aplica para la imagen y letras*/
text-align: center;
}
/*en su interior a otra caja cuando esten separados*/
.logo img{
/*width: auto;*/
/*height: 100%; de los 50px*/
width: 40px;
height: 40px;
border-radius: 50%;/*la imagen sea curva*/
/*Si se quiere rendondez total se tiene que
calcular en el ancho y alto en medida
en pixeles. Teniendo en cuenta la
altura nav 50px y padding de 5px*/
}
.navegacion{
width: 65%;
height: 100%;
float: left;
}
.ingreso{
width: 15%;

height: 100%;
float: left;
}
/*encabezado*/
header{
width: 100%;
height: 550px;
/*depende del monitor*/
background-image: url('../img/fondo-header.jpg');
background-size:100% 100%;
}
/*portafolio*/
/*#titulo1{
width: 100%;
height: 50px;
}*/
main#portafolio{/*tiene que estar pegado para que sepa que es de esa etiqueta
si se separa pensara que es de alguna del interior*/
width: 100%;
height: 550px;
background: rgb(255,255,255,0.9);/*transparencia 0.4*/
}
.div-porta{
width: 33.33%;
height:100%;
float: left;
text-align: center;
padding: 50px;
font-size: 13px;
}
.div-porta img{
width: 150px;
height: 150px;
margin: 40px 0px 0px 0px;
border-radius: 50%;
}
/*en div porta hay una etiqueta p que quiero este justificada*/
.div-porta p{

margin: 40px 0px 0px 0px;/*cuando hay 2 medidas afecta primero
arriba y abajo y la otra es izq y der*/
/*margin-top: 20px;*/
text-align: justify;
}
/*quinenes-somos*/
/*#titulo2{
width: 100%;
height: 50px;
}*/
section#quienes-somos{
width: 100%;
height: 550px;
}
.fila{
width: 100%;
height: 33.33%;
}
.col-ext{
width: 40%;
height: 100%;
float: left;
}
.col-cen{
width: 20%;
height: 100%;
float: left;
}

/*contactenos*/
/*#titulo3{
width: 100%;
height: 50px;
}*/
section#contactenos{
width: 100%;
height: 550px;
}
.div-contacto{
width: 50%;
height: 100%;
float: left;
}
.div-arr{
width: 100%;
height:70%;
}
.div-aba{
width: 100%;
height:30%;
}
/*footer*/
footer{
width: 100%;
height: 50px;
}


